body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header h1 {
    animation: fadeInDown 1s ease-in-out;
}

header p {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav a {
    position: relative;
}

nav a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #38b2ac; /* Teal color */
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

section {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dark mode specific styles */
.dark body {
    background-color: #1a202c;
    color: #a0aec0;
}

.dark header, .dark nav, .dark section, .dark footer {
    background-color: #2d3748;
    color: #a0aec0;
}

.dark .bg-white {
    background-color: #2d3748;
}

.dark .text-gray-800 {
    color: #a0aec0;
}

.dark .text-indigo-600 {
    color: #63b3ed;
}

.dark .nav-link {
    color: #63b3ed;
}

.dark .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.dark .bg-gradient-to-r {
    background: linear-gradient(to right, #4a5568, #2d3748);
}
